.Formulario {
    /* variaveis que se repetem no formulario */
    --cor-principal: rgb(38, 38, 68);
    --bg-input: rgb(54, 54, 112);
    --eixo-x: -50%;
    --eixo-y: 50%;
    --font-size: 1rem;


    position: fixed;
    top: var(--eixo-y);
    left: var(--eixo-y);
    transform: translate(var(--eixo-x), var(--eixo-x));


    height: 70vh;
    min-width: 80vw;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 13px;
    padding-bottom: 1rem;
    background-color: var(--cor-principal);
    border-radius: 10px;
}

.addBook {
    --cor-addLivro: #30A46C;


    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: var(--cor-addLivro);
    border: none;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;

}



.inputGeral {
    padding-left: 1rem;
    background-color: var(--bg-input);
    border: none;
    font-size: var(--font-size);
    border-radius: 10px;
    outline: none;
    color: rgb(181, 168, 168);

}

.inputName {
    height: 3rem;
    margin-top: 2rem;
}

.textArea {
    height: 20%;
    padding-top: 10px;
}

.dataLancamento {
    height: 3rem;

}

.btnAct {


    margin-top: auto;
    height: 10%;
    border-radius: 15px;
    border: none;
    font-size: var(--font-size);


}

.erro {
    color: rgb(173, 55, 55);
    text-align: center;
    font-weight: 700;
}

.formCancel {

    --bg-btnCancel: rgb(54, 54, 112);

    width: 2rem;
    height: 2.3rem;
    border: 1px solid;
    border-color: gray;
    border-radius: 7px;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.5rem;
    transform: scaleX(1.2);
    color: rgb(181, 168, 168);
    background-color: var(--bg-btnCancel);
}

@media (min-width:780px) {

    .addBook {
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;

        /* config de display flex */

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        border-radius: 7px;
        height: 2rem;
        margin: 1rem 0 0 1rem;
    }

}