.item {

    --bg-list: rgba(28, 28, 104, 0.542);
    --border-color: rgba(28, 28, 104, 0.417);
    --text-color-name: #F5F5F5;
    --text-color-date_desc: #E0E0E0;
    --text-color-destaque: #C5B3E6;
    --btn-color: #E5484D;

    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: var(--border-color);
    margin-top: 1rem;
    background-color: var(--bg-list);
    border-radius: 10px;
    padding: 8px;
    line-height: 25px;

    /* formulario de editar responde ao eleemento item */
    position: relative;


}


.destaque {
    color: var(--text-color-destaque);
    margin-right: 5px;
}

.name {
    color: var(--text-color-name);
}

.geral {
    color: var(--text-color-date_desc);
}

.editar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;


    border-radius: 10px;
}

.btn_geral {
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    height: 2rem;
}

.btn {
    background-color: var(--btn-color);
    color: #FFFFFF;
}

@media (min-width:620px) {
    .item {
        margin-top: 4rem;
    }

    .item:nth-child(2n) form {
        left: auto;
        right: 100%;
    }
}

@media (min-width:1040px) {
    .item:nth-child(2n) form {
        left: 100%;
        right: auto;
    }

    .item:nth-child(3n) form {
        left: auto;
        right: 100%;
    }
}

@media (min-width:1200px) {
    .item:nth-child(3n) form {
        left: 100%;
        right: auto;
    }

    .item:nth-child(4n) form {
        left: auto;
        right: 100%;
    }
}